<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/wmui-style-guide.css">
	<title>
		{{ block "title" . }}
			{{ .Site.Title }}
		{{ end }}
	</title>
	<title>Wikimedia Design Style Guide (WikimediaUI) – provided by Wikimedia Foundation Design Team</title>
	<script>
		document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/,'js-on'); // no BEM notation thx to IE
	</script>
	{{ `<!--[if lt IE 9]>
		<script>window.html5={'shivCSS':false};</script>
		<script src='js/vendor/ie/html5shiv-3.7.3.min.js'></script>
		<script src='js/vendor/ie/respond-1.4.2.min.js'></script>
		<![endif]-->` | safeHTML }}
	<link rel="preload" href="/fonts/Charter_regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/Lato_regular.woff2" as="font" type="font/woff2" crossorigin>
	<script src="/js/fonts-loader.js" async></script>
	<script>
		var _paq = _paq || [];
		_paq.push(['setDomains', ['*.design.wikimedia.org.']]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		function embedTrackingCode() {
			var u='https://piwik.wikimedia.org/';
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '16']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		}
		if (window.addEventListener) {
			window.addEventListener('load', embedTrackingCode, false);
		} else if (window.attachEvent) {
			window.attachEvent('onload',embedTrackingCode);
		} else {
			embedTrackingCode();
		}
	</script>
</head>
